.img_container {
  width: 450px; /* Fixed width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  border: 1px solid #959595; /* Optional: Adds a border for visualization */
  margin-left: 0 !important; /* Centers the container horizontally */
  padding: 0px; /* Add some padding */
}

.img-wrapper { 
  width: 00px;
  height: 300px;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */

}

.img-wrapper img {
  width: 400px; /* Ensures it does not overflow */
  height: 100%; /* Ensures it fits within the wrapper */
  object-fit: cover; /* Maintains aspect ratio */
}

  
  
  .title-container {
    background-color: #3E98C780;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    align-items: center; /* Garante alinhamento vertical */
    justify-content: space-between; /* Distribui os elementos */
    width: 100%;
  }

  .img_title {
    font-family: 'Poppins', sans-serif; /* Fonte moderna e elegante */
    font-weight: 200 !important; /* Peso médio-forte para destaque */
    font-size: 1.5rem; /* Tamanho adequado para legibilidade */
    color: #000000; /* Cor branca para contraste */ /* Fundo azul para destaque */
    text-align: center; /* Centraliza o texto */
    padding: 5px 5px; /* Espaçamento interno para melhor aparência */
    border-radius: 8px; /* Bordas arredondadas para um efeito suave */
    width: 100%; /* Ocupa toda a largura do container pai */
  }

  .state-indicator {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      margin-right:10px
  }
  
  .state-indicator div {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 8px;
  }
